<h1>Sign up<h1>

<form action="<%=users_url%>" method="POST">
    <input type="hidden" name="authenticity_token" 
        value=<%= form_authenticity_token %>>

    <label for="email">Email</label>
    <input type="text" id="email" name="user[email]"
        value="<%=@user.email%>">
    <br><br>
    <label for="pass">Password</label>
    <input type="password" id="pass" name="user[password]"
        value="<%=@user.password%>">

    <input type="submit">

</form>